body {
	background-image: url('../images/southpark.png');
	background-size: cover;
}

.box-container {
	position: relative;
	display: inline-block;
	height: 8em;
	width: 8em;
	border-radius: 100%;
	/*border: 2px solid black;*/
	margin-left: 2%;
	/*margin-top: 2%;*/
	text-align: center;
}

#main {
	width: 90%;
	margin: 0 auto;
}

#header {
	text-align: center;
	height: 20%;
}

.images {
/*	margin-top: 5%;*/
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}

#results {
	margin-top: 7%;
	text-align: center;
	font-style: verdana;
	font-size: 4em;
	color: red;
}

#add-name {
	margin-top: 4%;
}

#player {
	margin-top: 4%;
}

#rock {
	background-image: url('../images/EricCartman.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 6.6em;
}

#paper {
	background-image: url('../images/KennyMcCormick.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 5em;
}

#scissors {
	background-image: url('../images/KyleBroflovski.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 5.5em;
}

#lizard {
	background-image: url('../images/mrhankey.jpg');
	background-position: center;
	background-size: 18em;
}

#spock {
	background-image: url('../images/StanMarsh.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 4.7em;
}